// Fichier exclusivement destiné à exposer les variables stencil de design en css

:root {
  --body-font-family: #{stencilFontFamily('body-font')};
  --body-font-weight: #{stencilFontWeight('body-font')};
  --altBody-font-family: #{stencilFontFamily('altBody-font')};
  --altBody-font-weight: #{stencilFontWeight('altBody-font')};
  --headings-font-family: #{stencilFontFamily('headings-font')};
  --headings-font-weight: #{stencilFontWeight('headings-font')};
  --altHeadings-font-family: #{stencilFontFamily('altHeadings-font')};
  --altHeadings-font-weight: #{stencilFontWeight('altHeadings-font')};
  --fontSize-root: #{stencilNumber("fontSize-root", "px")};
  --fontSize-h1: #{stencilNumber("fontSize-h1", "px")};
  --fontSize-h2: #{stencilNumber("fontSize-h2", "px")};
  --fontSize-h3: #{stencilNumber("fontSize-h3", "px")};
  --fontSize-h4: #{stencilNumber("fontSize-h4", "px")};
  --fontSize-h5: #{stencilNumber("fontSize-h5", "px")};
  --fontSize-h6: #{stencilNumber("fontSize-h6", "px")};
  --color-tonic: #{stencilColor('button--primary-backgroundColor')};
  --color-tonic--contrast: #{stencilColor('button--primary-color')};
  --color-textBase: #{stencilColor('color-textBase')};
  --color-textBase--hover: #{stencilColor('color-textBase--hover')};
  --color-textBase--active: #{stencilColor('color-textBase--active')};
  --color-textSecondary: #{stencilColor('color-textSecondary')};
  --color-textSecondary--hover: #{stencilColor('color-textSecondary--hover')};
  --color-textSecondary--active: #{stencilColor('color-textSecondary--active')};
  --color-textHeading: #{stencilColor('color-textHeading')};
  --color-primary: #{stencilColor('color-primary')};
  --color-primaryDark: #{stencilColor('color-primaryDark')};
  --color-primaryDarker: #{stencilColor('color-primaryDarker')};
  --color-primaryLight: #{stencilColor('color-primaryLight')};
  --color-secondary: #{stencilColor('color-secondary')};
  --color-secondaryDark: #{stencilColor('color-secondaryDark')};
  --color-secondaryDarker: #{stencilColor('color-secondaryDarker')};
  --color-error: #{stencilColor('color-error')};
  --color-errorLight: #{stencilColor('color-errorLight')};
  --color-info: #{stencilColor('color-info')};
  --color-infoLight: #{stencilColor('color-infoLight')};
  --color-success: #{stencilColor('color-success')};
  --color-successLight: #{stencilColor('color-successLight')};
  --color-warning: #{stencilColor('color-warning')};
  --color-warningLight: #{stencilColor('color-warningLight')};
  --color-black: #{stencilColor('color-black')};
  --color-white: #{stencilColor('color-white')};
  --color-whitesBase: #{stencilColor('color-whitesBase')};
  --color-grey: #{stencilColor('color-grey')};
  --color-greyDarkest: #{stencilColor('color-greyDarkest')};
  --color-greyDarker: #{stencilColor('color-greyDarker')};
  --color-greyDark: #{stencilColor('color-greyDark')};
  --color-greyMedium: #{stencilColor('color-greyMedium')};
  --color-greyLight: #{stencilColor('color-greyLight')};
  --color-greyLighter: #{stencilColor('color-greyLighter')};
  --color-greyLightest: #{stencilColor('color-greyLightest')};
  --color-price: #{stencilColor('color-price')};
  --button--default-color: #{stencilColor('button--default-color')};
  --button--default-colorHover: #{stencilColor('button--default-colorHover')};
  --button--default-colorActive: #{stencilColor('button--default-colorActive')};
  --button--default-borderColor: #{stencilColor('button--default-borderColor')};
  --button--default-borderColorHover: #{stencilColor('button--default-borderColorHover')};
  --button--default-borderColorActive: #{stencilColor('button--default-borderColorActive')};
  --button--primary-color: #{stencilColor('button--primary-color')};
  --button--primary-colorHover: #{stencilColor('button--primary-colorHover')};
  --button--primary-colorActive: #{stencilColor('button--primary-colorActive')};
  --button--primary-backgroundColor: #{stencilColor('button--primary-backgroundColor')};
  --button--primary-backgroundColorHover: #{stencilColor('button--primary-backgroundColorHover')};
  --button--primary-backgroundColorActive: #{stencilColor('button--primary-backgroundColorActive')};
  --button--disabled-color: #{stencilColor('button--disabled-color')};
  --button--disabled-backgroundColor: #{stencilColor('button--disabled-backgroundColor')};
  --button--disabled-borderColor: #{stencilColor('button--disabled-borderColor')};
  --button-radius: #{stencilNumber('button-radius')};
  --icon-color: #{stencilColor('icon-color')};
  --icon-color-hover: #{stencilColor('icon-color-hover')};
  --icon-backgroundColor: #{stencilColor('icon-backgroundColor')};
  --icon-backgroundColor-hover: #{stencilColor('icon-backgroundColor-hover')};
  --icon--alt-color: #{stencilColor('icon--alt-color')};
  --icon--alt-color-hover: #{stencilColor('icon--alt-color-hover')};
  --icon--alt-backgroundColor: #{stencilColor('icon--alt-backgroundColor')};
  --icon--alt-backgroundColor-hover: #{stencilColor('icon--alt-backgroundColor-hover')};
  --button--icon-svg-color: #{stencilColor('button--icon-svg-color')};
  --icon-ratingEmpty: #{stencilColor('icon-ratingEmpty')};
  --icon-ratingFull: #{stencilColor('icon-ratingFull')};
  --card-figcaption-button-background: #{stencilColor('card-figcaption-button-background')};
  --card-figcaption-button-color: #{stencilColor('card-figcaption-button-color')};
  --card-figcaption-button-borderColor: #{stencilColor('card-figcaption-button-borderColor')};
  --card--alternate-backgroundColor: #{stencilColor('card--alternate-backgroundColor')};
  --card--alternate-borderColor: #{stencilColor('card--alternate-borderColor')};
  --card--alternate-color--hover: #{stencilColor('card--alternate-color--hover')};
  --form-label-font-color: #{stencilColor('form-label-font-color')};
  --input-font-color: #{stencilColor('input-font-color')};
  --input-border-color: #{stencilColor('input-border-color')};
  --input-border-color-active: #{stencilColor('input-border-color-active')};
  --input-bg-color: #{stencilColor('input-bg-color')};
  --input-disabled-bg: #{stencilColor('input-disabled-bg')};
  --select-bg-color: #{stencilColor('select-bg-color')};
  --select-arrow-color: #{stencilColor('select-arrow-color')};
  --checkRadio-color: #{stencilColor('checkRadio-color')};
  --checkRadio-backgroundColor: #{stencilColor('checkRadio-backgroundColor')};
  --checkRadio-borderColor: #{stencilColor('checkRadio-borderColor')};
  --alert-backgroundColor: #{stencilColor('alert-backgroundColor')};
  --alert-color: #{stencilColor('alert-color')};
  --alert-color-alt: #{stencilColor('alert-color-alt')};
  --body-bg: #{stencilColor('body-bg')};
  --header-backgroundColor: #{stencilColor('header-backgroundColor')};
  --topHeader-bgColor: #{stencilColor('topHeader-bgColor')};
  --topHeader-borderColor: #{stencilColor('topHeader-borderColor')};
  --topHeader-color: #{stencilColor('topHeader-color')};
  --topHeader-color-hover: #{stencilColor('topHeader-color-hover')};
  --topHeader-icon-color: #{stencilColor('topHeader-icon-color')};
  --footer-backgroundColor: #{stencilColor('footer-backgroundColor')};
  --footer-color: #{stencilColor('footer-color')};
  --footer-color-hover: #{stencilColor('footer-color-hover')};
  --footer-headingColor: #{stencilColor('footer-headingColor')};
  --footer-linkColor: #{stencilColor('footer-linkColor')};
  --footer-linkColor-hover: #{stencilColor('footer-linkColor-hover')};
  --footer-secondary-backgroundColor: #{stencilColor('footer-secondary-backgroundColor')};
  --footer-secondary-color: #{stencilColor('footer-secondary-color')};
  --footer-secondary-headingColor: #{stencilColor('footer-secondary-headingColor')};
  --footer-secondary-linkColor: #{stencilColor('footer-secondary-linkColor')};
  --footer-secondary-linkColor-hover: #{stencilColor('footer-secondary-linkColor-hover')};
  --footer-secondary-button-color: #{stencilColor('footer-secondary-button-color')};
  --footer-secondary-button-backgroundColor: #{stencilColor('footer-secondary-button-backgroundColor')};
  --navUser-color: #{stencilColor('navUser-color')};
  --navUser-color-hover: #{stencilColor('navUser-color-hover')};
  --navUser-dropdown-backgroundColor: #{stencilColor('navUser-dropdown-backgroundColor')};
  --navUser-dropdown-color: #{stencilColor('navUser-dropdown-color')};
  --navUser-dropdown-borderColor: #{stencilColor('navUser-dropdown-borderColor')};
  --navUser-indicator-backgroundColor: #{stencilColor('navUser-indicator-backgroundColor')};
  --navPages-color: #{stencilColor('navPages-color')};
  --navPages-color-hover: #{stencilColor('navPages-color-hover')};
  --navPages-borderColor: #{stencilColor('navPages-borderColor')};
  --navPages_categoriesItem_text: #{stencilColor('navPages_categoriesItem_text')};
  --navPages-categoriesItem-color: #{stencilColor('navPages-categoriesItem-color')};
  --navPages-categoriesItem-backgroundColor: #{stencilColor('navPages-categoriesItem-backgroundColor')};
  --navPages-subMenu-color: #{stencilColor('navPages-subMenu-color')};
  --navPages-subMenu-color-hover: #{stencilColor('navPages-subMenu-color-hover')};
  --navPages-rootMenu-backgroundColor: #{stencilColor('navPages-rootMenu-backgroundColor')};
  --navPages-subMenu-backgroundColor: #{stencilColor('navPages-subMenu-backgroundColor')};
  --navPages-subMenu-separatorColor: #{stencilColor('navPages-subMenu-separatorColor')};
  --quickSearch-color: #{stencilColor('quickSearch-color')};
  --quickSearch-borderColor: #{stencilColor('quickSearch-borderColor')};
  --dropdown--quickSearch-backgroundColor: #{stencilColor('dropdown--quickSearch-backgroundColor')};
  --dropdown--wishList-backgroundColor: #{stencilColor('dropdown--wishList-backgroundColor')};
  --blockquote-cite-font-color: #{stencilColor('blockquote-cite-font-color')};
  --container-border-global-color-base: #{stencilColor('container-border-global-color-base')};
  --container-border-global-color-dark: #{stencilColor('container-border-global-color-dark')};
  --container-fill-base: #{stencilColor('container-fill-base')};
  --container-fill-dark: #{stencilColor('container-fill-dark')};
  --container-border-radius: #{stencilNumber('container-border-radius')};
  --label-backgroundColor: #{stencilColor('label-backgroundColor')};
  --label-color: #{stencilColor('label-color')};
  --overlay-backgroundColor: #{stencilColor('overlay-backgroundColor')};
  --loadingOverlay-backgroundColor: #{stencilColor('loadingOverlay-backgroundColor')};
  --pace-progress-backgroundColor: #{stencilColor('pace-progress-backgroundColor')};
  --spinner-borderColor-dark: #{stencilColor('spinner-borderColor-dark')};
  --spinner-borderColor-light: #{stencilColor('spinner-borderColor-light')};
  --color_badge_product_sale_badges: #{stencilColor('color_badge_product_sale_badges')};
  --color_text_product_sale_badges: #{stencilColor('color_text_product_sale_badges')};
  --color_hover_product_sale_badges: #{stencilColor('color_hover_product_sale_badges')};
  --color_badge_product_custom_badges: #{stencilColor('color_badge_product_custom_badges')};
  --color_text_product_custom_badges: #{stencilColor('color_text_product_custom_badges')};
  --color_badge_product_outstock_badges: #{stencilColor('color_badge_product_outstock_badges')};
  --color_text_product_outstock_badges: #{stencilColor('color_text_product_outstock_badges')};
  --topBanner-color: #{stencilColor('topBanner-color')};
  --topBanner-backgroundColor: #{stencilColor('topBanner-backgroundColor')};
  --topBanner-backgroundColorGradient: #{stencilColor('topBanner-backgroundColorGradient')};
  --copyright-color: #{stencilColor('copyright-color')};
  --copyright-backgroundColor: #{stencilColor('copyright-backgroundColor')};
}
